extends layout

append styles
  link(rel="stylesheet", href="/style/ui.css")

block content
  nav
    a(href="/ui#k") K-Ord
    a(href="/ui#t") T-Ord
      
  article
    section#controller
      button
        #recordButton
          svg(xmlns="http://www.w3.org/2000/svg")
            circle#record(cx="25", cy="25", r="20")
            
      button
        #playButton
          svg(xmlns="http://www.w3.org/2000/svg")
            circle#head(cx="25", cy="20", r="10")
            path#shoulders(d="M10,50 C2.5,25 47.5,25 40,50")
            polygon.play(points="30,30 30,45 45,37")

      button
        #compPlayButton
          svg(xmlns="http://www.w3.org/2000/svg")
            - var x = 7
            - var y = 3
            - var width = 50
            - var height = 30
            - var keyboard_height = width - height - y
           
            rect#screen(x="#{x}", y="#{y}", width="#{width-2*x}", height="#{height-2*y}")
            polygon.play(points="30,30 30,45 45,37")
            polygon(points="#{x},#{height-2*y} #{width-x},#{height-2*y} #{width-x+4},#{height+keyboard_height} #{x-4},#{height+keyboard_height}")

            
//-          svg#play(xmlns="http://www.w3.org/2000/svg")
//-            polygon.play(points="30,30 30,45 45,37")
//-          svg#screen(xmlns="http://www.w3.org/2000/svg", width="50", height="30")
//-            rect(x="3", y="3", width="44", height="24")
//-          svg#keyboard(xmlns="http://www.w3.org/2000/svg")
//-            rect#plate(x="0", y="0", width="50", height="30")
//-            g
//-              - for(var y = 3; y < 14; y += 4)
//-                - for(var x = 3; x < 45; x += 4)
//-                  rect(x=x, y=y, width="3", height="3")
//-            rect#pad(x="18", y="18", width="14", height="8")
            
    #ordlist
      ul
        for word in k_words
          li: button(style='background-image: url("/images/#{word.toLowerCase()}_thumb.GIF")')= word


